.containerTabela {
    margin: 20px;
    padding: 20px;
    background-color: #f3e1f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .titulo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #69237C;
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }
  
  .buttonContainer {
    display: flex !important;     
    height: 1rem;          /* Garante que o flexbox seja aplicado */
    gap: 8px !important;                    /* Espaço entre os botões */
    justify-content: center !important;     /* Centraliza os botões */
    align-items: center !important;         /* Alinha os itens verticalmente */
  }